# npm dependencies
/Client/node_modules
/Server/node_modules

# Client Build
/Client/build

# Server Config
/Client/src/lib/serverInfo.js
/Server/lib/config.js
/Server/lib/dbpool.js

# Page Protection Credentials
/Client/src/lib/lock.js